.wd-font { font-family: Helvetica Neue, Helvetica, serif; }
.wd-bg-color-black { background-color: #000000; }
.wd-fg-color-white { color: white; }
.wd-bg-color-red { background-color: #ff7070; }
.wd-border-thin { border-width: 4px; }

.wd-div {
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    left: 16px;
    /*width: 570px;*/
}

.wd-float-left {
    float: left;
}
.wd-float-right {
    float: right;
}
.wd-float-done {
    clear: both;
}
.wd-float.done2 {
    clear: bottom;
}


.wd-main-ellipses {
    text-decoration: none;
    float: right;
    font-size: 20px;
    color: white;
    margin-top: -25px;
}

.wd-ellipses {
    text-decoration: none;
    float: right;
    margin-top: -12px;
    font-size: 20px;
    color: rgb(110, 118, 125);
}

.wd-tuit-icons {
    width: 15px;
    height: 15px;
}
.wd-publication-name {
    color: white;
    font-weight: bold;
}

.wd-tuit-images {
    float: right;
    border-radius: 20px;
    margin-right: 16px;
    width: 100px;
    height: 100px;
}

.wd-tuit-date {
    color: rgb(110, 118, 125);
    font-weight: normal;
}

.wd-page-heading {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 6px;
}
