.wd-center-icon {
}

.bg-color-white {
    background-color: white;
}
.fg-color-black {
    color: black;
}
.wd-columns {
    padding-top: -20px;
}

.wd-span-more-padding {
    float: left;
    left: -13px;
    margin-right: -20px;
    margin-top: -4px;
}
.btn-primary.wd-override-bs-tuit {
    color: white;
    background-color: #0d6efd;
    border-style: none;
    border-radius: 40px;
    margin-top: 10px;
}
.wd-search-div {
    padding-bottom: 20px;
}
.wd-search-bar {
    background-color: white;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: lightgray;*/
    border-radius: 50px;
    width: 80%;
    height: 35px;
}
.wd-search-bar-content {
    border-style: none;
    outline-style: none;
    /*margin-left: -20px;*/
    /*margin: 10px 10px 12px 16px; !*[top] [right] [bottom] [left]*!*/
    padding-left: 25px;
    padding-top: 5px;
}

.wd-search-icon {
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 10px;
    left: 10px;
    top: 8px;
    float:left;
}

.wd-gear-icon {
    float: right;
    font-size: 1.5em;
    margin-top: 5px;
    color: dodgerblue;
}

.wd-for-you-button {
    text-decoration: none;
    float: left;
    background-color: black;
    font-size: 15px;
    font-weight: bold;
    color: rgb(29,161,242);
    border-style: none;
    padding: 16px 0;
    margin: 0 16px;
    border-bottom: 2px solid rgb(29,161,242);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-width: 3px;
}
.wd-unselected-buttons {
    text-decoration: none;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 16px;
    color: rgb(110, 118, 125);
    background-color: black;
    border-style: none;
}

.wd-small-div {
    background-color: #282c34;
    height: 12px;
    border-style: solid;
    border-color: rgb(64,64,64);
    border-width: 1px;
    border-top: 3px solid rgb(64,64,64);
    position: relative;
}

.wd-explore-image {
    padding-top:10px;
    max-width: 100%;
    /*width: 635px;*/
}
.wd-covere-image-title {
    position: relative;
    bottom: 50px;
    left: 8px;
    color: white;
}

.wd-suggested-tuits {
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    font-size: 13px;
    color: rgb(110, 118, 125);
    padding: 16px;
}
.wd-for-you-tuits {
    margin-top: -46px;
}
.wd-for-you-topics-and-tuit-count {
    font-weight: normal;
    color: grey;
}
.wd-tuit-image-icons {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.wd-tuit-author {
    float: left;
    padding-right: 5px;
}

.wd-topic {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;
}
.display {
    display: block;
}
.spacing-right {
    margin-right: 12px;
}
.spacing-left {
    margin-left: 12px;
}
.sp {
    max-width: 100%;
}
.wd-suggested-follows-primary-text {
    font-weight: bold;
}
.wd-delete-tuit-button {
    text-decoration: none;
    float: right;
    font-size: 15px;
    color: white;
}
.wd-write-tuit-avatar {
    margin-left: 16px;
}
.wd-avatar-image {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 100%;
    /*align-content: center;*/
}
.wd-tuit-textarea-home {
    width: 98%;
    height: 50px;
    background-color: black;
    color: white;
    border-style: none;
    margin-left: 5px;
}
.wd-tuit-override-button-home {
    float: right;
    width: 100px;
    border-radius: 40px;
    margin-bottom: 15px;
}
.wd-avatar {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    padding: 12px 16px;
    float: left;
}
.wd-suggested-follows-account-name {
    padding-left: 60px;
}
.wd-verified-check {
    position: absolute;
    font-size: 0.9em;
    padding-left: 2px;
    padding-top: 5px;
    z-index: 1;
}
.wd-suggested-follows-account-handle {
    font-weight: normal;
    color: rgb(110, 118, 125);
    padding-left: 60px;
}

.wd-tuits-list-home {
    padding-left: 12px;
}
.wd-tuit-account-handle-home-verified {
    padding-left: 20px;
    font-weight: normal;
    color: grey;
    /*color: rgb(110, 118, 125);*/
}
.wd-tuit-account-handle-home-unverified {
    padding-left: 5px;
    font-weight: normal;
    color: grey;
    /*color: rgb(110, 118, 125);*/
}
.wd-write-tuit-avatar-width {
    width: 12%;
}
.wd-tuit-texarea-width {
    width: 88%;
}
.wd-avatar-width {
    width: 9%
}
.wd-tuit-width {
    width: 91%;
}
.wd-tuit-itself {
    font-weight: normal;
    padding-left: 12px;
}
.wd-tuit-image-home {
    width: 97%;
    height: 350px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 30px;
}
.wd-no-display {
    display: none;
}
.wd-stats {
    margin-left: 20px;
}
.wd-icon-spacing {
    padding-right: 10px;
    padding-top: 12px;
}
.wd-icon-spacing-2 {
    padding-right: 5px;
}
.wd-tuit-icon-spacing-3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
}
.wd-tomato {
    color:tomato;

}
.btn-primary.wd-override-bs-follow {
    color: white;
    background-color: #0d6efd;
    border-style: none;
    border-radius: 40px;
    padding: 0;
    margin-top: 7px;
    width:75px;
    height: 35px;
    float: right;
}

.wd-xl-window {
    border-style: solid;
    border-color: #ff7070;
}