.wd-font { font-family: Helvetica Neue, Helvetica, serif; }
.wd-bg-color-black { background-color: #000000; }
.wd-fg-color-white { color: white; }
.wd-bg-color-red { background-color: #ff7070; }
.wd-border-thin { border-width: 4px; }

.wd-div {
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    left: 16px;
    /*width: 570px;*/
}
.wd-avatar-image {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 100%;
    /*align-content: center;*/
}
.wd-avatar-image-small {
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 100%;
    margin-bottom: 10px;
    /*align-content: center;*/
}
.wd-inline {
    display: inline-block;
    text-align: left;
}
.wd-signin-button {
    width: 90px;
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    /*float: right;*/
}
.wd-float-left {
    float: left;
}
.wd-float-right {
    float: right;
}
.wd-margin-right {
    margin-right: 10px;
}
.wd-float-done {
    clear: both;
}
.wd-float.done2 {
    clear: bottom;
}

.wd-main-ellipses {
    text-decoration: none;
    float: right;
    font-size: 20px;
    color: white;
    margin-top: -25px;
}

.wd-ellipses {
    text-decoration: none;
    float: right;
    margin-top: -12px;
    font-size: 20px;
    color: rgb(110, 118, 125);
}

.wd-tuit-icons {
    width: 15px;
    height: 15px;
}
.wd-publication-name {
    color: white;
    font-weight: bold;
}

.wd-tuit-images {
    float: right;
    border-radius: 20px;
    margin-right: 16px;
    width: 100px;
    height: 100px;
}

.wd-tuit-date {
    color: rgb(110, 118, 125);
    font-weight: normal;
}

.wd-page-heading {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 6px;
}

.wd-tuit-image {
    border-radius: 1.5rem;
    border: 0.5px solid rgb(77, 77, 77);
    max-height: 500px;
    max-width: 100%;
    object-fit: cover;
}

.wd-rounded-button {
    border-radius: 40px !important;
}

.wd-cursor-pointer {
    cursor: pointer;
}

.wd-red {
    color:#ff7070;
}