.wd-font { font-family: Helvetica Neue, Helvetica, serif; }
.wd-bg-color-black { background-color: #000000; }
.wd-fg-color-white { color: white; }
.wd-bg-color-red { background-color: #ff7070; }
.wd-border-thin { border-width: 4px; }

.wd-div {
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    left: 16px;
    /*width: 570px;*/
}

.wd-search-bar {
    background-color: #282c34;
    border-width: 0;
    border-radius: 50px;
    width: 450px;
    height: 35px;
    margin: 10px 10px 12px 16px; /*[top] [right] [bottom] [left]*/
    padding-left: 50px;
    color: white;
}

.wd-search-icon {
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 10px;
    left: 52px;
    top: 19px;
    float:left;
}

.wd-gear-icon {
    float: right;
    height: 20px;
    width: 20px;
    margin-right: 12px;
    margin-top: 18px;
}

.wd-float-left {
    float: left;
}
.wd-float-right {
    float: right;
}
.wd-float-done {
    clear: both;
}
.wd-float.done2 {
    clear: bottom;
}

.wd-for-you-button {
    text-decoration: none;
    float: left;
    background-color: black;
    font-size: 15px;
    font-weight: bold;
    color: rgb(29,161,242);
    border-style: none;
    padding: 16px 0;
    margin: 0 16px;
    border-bottom: 2px solid rgb(29,161,242);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-width: 3px;
}
.wd-unselected-buttons {
    text-decoration: none;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 16px;
    color: rgb(110, 118, 125);
    background-color: black;
    border-style: none;
}

.wd-small-div {
    background-color: #282c34;
    height: 12px;
    border-style: solid;
    border-color: rgb(64,64,64);
    border-width: 1px;
    border-top: 3px solid rgb(64,64,64);
    position: relative;
}
.wd-main-ellipses {
    text-decoration: none;
    float: right;
    font-size: 20px;
    color: white;
    margin-top: -25px;
}

.wd-ellipses {
    text-decoration: none;
    float: right;
    margin-top: -12px;
    font-size: 20px;
    color: rgb(110, 118, 125);
}

.wd-suggested-tuits {
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    font-size: 13px;
    color: rgb(110, 118, 125);
    padding: 16px;
}

.wd-topic {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;

}
.wd-tuit-icons {
    width: 15px;
    height: 15px;
}
.wd-publication-name {
    color: white;
    font-weight: bold;
}

.wd-tuit-images {
    float: right;
    border-radius: 20px;
    margin-right: 16px;
    width: 100px;
    height: 100px;
}

.wd-tuit-date {
    color: rgb(110, 118, 125);
    font-weight: normal;
}

.wd-page-heading {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 6px;
}

.wd-bookmarks-div {
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
}

.wd-username {
    color: rgb(110, 118, 125);
    font-size: 13px;
    padding-bottom: 12px;
    padding-left: 16px;
}

.wd-ellipses-blue {
    text-decoration: none;
    float: right;
    font-size: 25px;
    color: dodgerblue;
    padding-right: 16px;
}

.wd-ellipses-bookmark {
    text-decoration: none;
    float: right;
    padding-top: 12px;
    padding-right: 12px;
    font-size: 20px;
    color: rgb(110, 118, 125);
}

.wd-avatar {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    padding: 12px 16px;
    float: left;

}
.wd-tuit-author {
    padding-top: 12px;
    padding-right: 5px;
    font-size: 15px;
    font-weight: bold;
    float: left;
}
.wd-tuit-handle {
    padding-top: 12px;
    padding-left: 3px;
    font-size: 15px;
    color: rgb(110, 118, 125);
}
.wd-tuit-itself {
    font-size: 15px;
    color: white;
    width: 506px;
    padding: 5px 16px 12px;
    margin-left: 65px;
}
.wd-bookmark-image {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(110, 118, 125);
    width: 504px;
    height: 264px;
    margin-left: 76px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wd-bookmark-content {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(110, 118, 125);
    margin-top: -4px;
    margin-left: 76px;
    width: 480px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px;
}
.wd-bookmark-image-title {
    color: white;
    font-size: 15px;
    padding-bottom: 5px;
}
.wd-bookmark-image-subtext {
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding-bottom: 5px;
}
.wd-external-link {
    text-decoration: none;
    color: rgb(110, 118, 125);
}

.wd-tuit-action-icons {
    text-decoration: none;
    width: 20px;
    height: 20px;
    color: rgb(110, 118, 125);
    padding-top: 12px;
    padding-left: 76px;
}

.wd-heart {
    color: crimson;
}
.wd-icon-spacing {
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}